PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/nilgit-store
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=sk_test_your_stripe_test_secret_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
